th.actions {
    width: 150px !important;
}
.block-table td {
    padding: 12px 20px !important;
}
.place-card.place-card-large { 
    display: none; 
}
.search-results:hover {
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
#map-place-card {
    position: absolute;
    z-index: 1;
    width: 30%;
    margin: 15px;
}
.form-group.required label::after {
    content: ' *';
    color: #f00;
}
.btn.disabled:hover {
    cursor: not-allowed;
}
/*.fc .fc-button:hover, .fc .fc-list-event-title a, a.fc-event, a.fc-event:hover {
    background-color: rgb(60, 144, 223) !important;
    color: #fff !important;
}*/
.day {
    background-color: #bff0dd;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    background: #9fcebc;
    cursor: pointer;
}
.datepicker table tr td.active.active{
    background: #176044;
    cursor: pointer;
    color: #fff;
}
.datepicker table tr td{
    border-radius: 0;
}